shacl2xsd/src/test/resources/example-edci/xsd/ap/edci/external/skos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.w3.org/2004/02/skos/core#"
           targetNamespace="http://www.w3.org/2004/02/skos/core#"
           xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
           elementFormDefault="qualified">
    
    <xs:import namespace="http://www.w3.org/2000/01/rdf-schema#" schemaLocation="rdfs.xsd"/>
    
    <xs:element name="Concept" type="ConceptType"/>
    
    <xs:element name="notation" type="NotationType"/>
    <xs:element name="prefLabel" type="rdfs:LiteralType"/>
    <xs:element name="altLabel" type="rdfs:LiteralType"/>
    <xs:element name="inScheme" type="xs:anyURI"/>
    <xs:element name="defintion" type="rdfs:LiteralType"/>
    
    <xs:complexType name="ConceptType">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" ref="prefLabel"/>
            <xs:element minOccurs="0" ref="altLabel"/>
            <xs:element minOccurs="0" ref="notation"/>
            <xs:element minOccurs="0" ref="inScheme"/>
            <xs:element minOccurs="0" ref="defintion"/>
        </xs:sequence>
        <xs:attribute name="uri" type="xs:anyURI"/>
    </xs:complexType>
    <xs:complexType name="NotationType">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:normalizedString">
                <xs:attribute name="type" type="xs:anyURI"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>
