shacl2xsd/src/test/resources.bak/example-edci/xsd/ap/edci/external/w3c/Verifiable_Credential.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://data.europa.eu/snb/model/w3c/vc#"
           targetNamespace="http://data.europa.eu/snb/model/w3c/vc#"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:skos="http://www.w3.org/2004/02/skos/core#"
           xmlns:dc="http://purl.org/dc/terms/"
           elementFormDefault="qualified">
    
    <xs:import namespace="http://www.w3.org/2004/02/skos/core#" schemaLocation="../skos.xsd"/>
    <xs:import namespace="http://purl.org/dc/terms/" schemaLocation="../dc.xsd"/>
    
    <xs:annotation>
        <xs:documentation>The W3C Verifiable Credential Recommendation does not provide an XML Schema for describing Verifiable Credentials.</xs:documentation>
    </xs:annotation>
    
    <xs:element name="VerifiableCredential" type="VerifiableCredentialType">
        <xs:annotation>
            <xs:documentation>This is the root verifiable credential class.</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="validFrom" type="xs:dateTime"/>
    <xs:element name="issuanceDate" type="xs:dateTime"/>
    <xs:element name="expirationDate" type="xs:dateTime"/>
    <xs:element name="issuer" type="IdReferenceType"/>
    <xs:element name="credentialSubject" abstract="true"/>
    <xs:element name="proof" abstract="true"/>

    <xs:attribute name="id" type="IdType"/>

    <xs:simpleType name="IdType">
        <xs:annotation>
            <xs:documentation>A portable identifier of an entity (i.e. a urn in the uuid namespace).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>

    <xs:complexType name="IdReferenceType">
        <xs:annotation>
            <xs:documentation>A link or reference to another entity record in the credential
                document.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="idref" type="xs:anyURI" use="required">
            <xs:annotation>
                <xs:documentation>The id of the referenced entity (record).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
   
    <xs:complexType name="VerifiableCredentialType">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="dc:type" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The type of credential. A concept indicating the type of credential.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dc:issued" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The issued date. The value represents the date and time the credential was issued. Note that this date represents the earliest date when the information associated with the credentialSubject property became valid. This is not the date of generation of the credential.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="issuanceDate" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The issuance date.</xs:documentation>
                </xs:annotation>
            </xs:element> 
            <xs:element ref="validFrom" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The valid from date. The value of validFrom property represents the date and time from which the credential is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="expirationDate" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The expiration date. The value of the validUntil property  represents the date and time the credential ceases to be valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="issuer" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The issuer of the credential.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="credentialSubject" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>a set of objects that contain one or more properties that are each related to a subject of the verifiable credential.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="proof" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>One or more cryptographic proofs that can be used to detect tampering and verify the authorship of a credential or presentation. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute ref="id">
            <xs:annotation>
                <xs:documentation>A portable identifier of the credential.
                    (i.e. a urn in the uuid namespace, urn:uuid:f81d4fae-7dec-11d0-a765-00a0c91e6bf6)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>
