shacl2xsd/src/test/resources.bak/example-edci/xsd/ap/edci/external/dc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://purl.org/dc/terms/"
           targetNamespace="http://purl.org/dc/terms/"
           xmlns:skos="http://www.w3.org/2004/02/skos/core#"
           xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
           elementFormDefault="qualified">
    
    <xs:import namespace="http://www.w3.org/2004/02/skos/core#" schemaLocation="skos.xsd"/>
    <xs:import namespace="http://www.w3.org/2000/01/rdf-schema#" schemaLocation="rdfs.xsd"/>
    
    <!-- CLASSES    -->
    <xs:element name="PeriodOfTime" type="PeriodOfTimeType"/>
    <xs:element name="Location" type="LocationType"/>
    
    <xs:complexType name="PeriodOfTimeType"/>
    <xs:complexType name="LocationType"/>
    
    <!-- PROPERTIES    -->
    <xs:element name="title" type="rdfs:LiteralType">
        <xs:annotation>
            <xs:documentation>A name given to the resource.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="issued" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation>The date of formal issuance of the resource.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="creator" type="xs:anyURI">
        <xs:annotation>
            <xs:documentation>An entity responsible for making the resource.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="type" type="skos:ConceptType">
        <xs:annotation>
            <xs:documentation>The nature or genre of the resource.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="language" type="skos:ConceptType">
        <xs:annotation>
            <xs:documentation>A language of the resource.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="subject" type="skos:ConceptType">
        <xs:annotation>
            <xs:documentation>The subject of the resource.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="spatial" type="skos:ConceptType">
        <xs:annotation>
            <xs:documentation>Spatial characteristics of the resource.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="format" type="skos:ConceptType">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="temporal" type="PeriodOfTimeType">
        <xs:annotation>
            <xs:documentation>Temporal characteristics of the resource.</xs:documentation>
        </xs:annotation>
    </xs:element>
    
</xs:schema>
