shacl2xsd/src/test/resources.bak/example-edci/xsd/ap/edci/external/esco.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://data.europa.eu/esco/model#"
           targetNamespace="http://data.europa.eu/esco/model#"
           xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
           xmlns:dc="http://purl.org/dc/terms/"
           elementFormDefault="qualified">
    
    <xs:import namespace="http://www.w3.org/2000/01/rdf-schema#" schemaLocation="rdfs.xsd"/>
    <xs:import namespace="http://www.w3.org/2004/02/skos/core#" schemaLocation="skos.xsd"/>
    <xs:import namespace="http://purl.org/dc/terms/" schemaLocation="dc.xsd"/>

    <xs:element name="NodeLiteral" type="NodeLiteralType"/>
    
    <xs:element name="nodeLiteral" type="rdfs:LiteralType"/>
    <xs:element name="language" type="rdfs:LiteralType"/>
    
    <xs:complexType name="NodeLiteralType">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nodeLiteral"/>
            <xs:element ref="language" minOccurs="0"/>
            <xs:element ref="dc:subject" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
